# ----------------------
# Flask
# ----------------------
flask
pymongo
requests

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
